.header{
    display:flex ;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    background-color: darkkhaki;
    position: fixed;
    top: 0;
    width:100vw;
    font-family: 'Chilanka';

}
ul{
 display: flex;
 justify-content:flex-start;
 flex-wrap: wrap;
 color: azure;
}
li{
    margin-right: 50px;
    list-style-type: none;
    color: azure;
}
.logo{
    max-height: 20px;
    margin:0px 0px 30px 70px;
}
.bags{
    display: flex;
    flex-direction:row;
    width:200px;
    /* flex-wrap: wrap; */
    margin-top: 30px;
    justify-content:space-around;
    align-self: flex-start;
    margin: 20px;
}