.productWrap{
    display: flex;
    border: 2px solid red;
    flex-direction: column;
}
.myCols{
    font-family:'Chilanka';
    font-size: 1.5rem;
    background-color:linear-gradient(skyblue,white,skyblue);
    text-align: center;
    /* border: 2px solid peru;  */
}
/* .myCols:hover{
    background-color: blue;
} */
.links{
    text-decoration: none;
}
.links:hover{
   color:cornflowerblue;
}

.logo1{
    text-align: center;
    height: fit-content;
    margin-top: 20px;
}
img{
    height:8vh !important;   
    min-width:5vw !important;
}
/* .logoContainer{
    border: 2px solid black;
} */

.myTable{
    margin-top:2vh;
}
